 :root {
    --primary-color: #fff;
    --border-radius: 5px;
    --black-color: rgba(0, 0, 0, 1);
 }

.visit-page {
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url("../../Images/old-texture.png");
    background-size: cover;
    z-index: -1;
    padding-top: 7rem;
}

.visit-container {
   background-color: transparent;
   position: relative;
   display: flex;
   grid-template-columns: 300px 760px;
   border-radius: var(--border-radius);
   box-shadow: 0 0 15px 20px rgba(0, 0, 0, 0.20);
   width: 60%;
   margin: auto;
   margin-bottom: 5rem;
}

.visit-image-container {
   display: flex;
   min-width: 25rem;
}


.visit-container-text {
   padding: 40px 40px 0;
   display: flex;
   margin-top: 2rem;
   align-items: center;
}

.visit-container h1 {
   position: absolute;
   top: 1rem;
   left: 30rem;
   font-weight: bold;
}

  .visit-container p {
   font-weight: bold;
   font-size: 1.2rem;
   background-color: rgb(255 216 168 / 60%);
   padding: 1rem 2rem;
   border-radius: .5rem;
   border: 2px solid rgb(0 0 0 / 38%);
}
